<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


<script type="text/x-kendo-template" id="tmpl-create-pfx">


    <h4>Create Certificate</h4>
    <section id="token-form-container" style="margin-bottom: 50px">
        <form id="pfx_form" action='/pfx/create' method="post" class="form-main admin-form-main">
            <div id="pfx-info">&nbsp;</div>
            <input id="fqdn" name="fqdn" placeholder="FQDN" required  style="width: 80%;" />
            <input name="name" placeholder="Name" class="form-input"/>
            <input name="email" type="email" placeholder="Email" class="form-input"/>
            <input name="password" placeholder="Pfx Password (min 8 chars)" pattern=".{8,16}" required class="form-input" />
            <input type="submit" name="submit" value="Create Certificate" class="button">
        </form>

    </section>
    <a id="a-download"></a>
</script>
<script>
	function loadPfx() {


		$("#fqdn").kendoAutoComplete({
			dataTextField: "fqdn",
            dataValueField: "fqdn",
			filter: "contains",
			minLength: 1,
			dataSource: {
				serverFiltering: true,
				transport: {
					read: "/creds/filter"
				}
			}
		});

		$('#pfx_form').submit(function () {

			showLoader();

			$(this).ajaxSubmit({
				error:   function (response) {
					hideLoader();
					$("#pfx-info").removeClass('ad-success').addClass('ad-error');
					$("#pfx-info").html(response.responseDesc);
				},
				success: function () {
					hideLoader();
				}
			});

		});
	}
</script>