<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


<script type="text/x-kendo-template" id="tmpl-create-pfx">


    <h4>Create Certificate</h4>
    <section id="token-form-container" style="margin-bottom: 50px;background-color:#fff ">
        <form id="frm-create-cred" action='/cred/create' method="post" class="form-main admin-form-main">
            <div id="pfx-info">&nbsp;</div>
            <input id="fqdn" name="fqdn" placeholder="Signing Credential" required  style="width: 100%;" />
            <input id="name" name="name" placeholder="Name" class="form-input"/>
            <input id="email" name="email" type="email" placeholder="Email" class="form-input"/>
            <input id="password" name="password" placeholder="Pfx Password (min 8 chars)" pattern=".{8,16}"  class="form-input" />
            <!--Save creds <input name="save_creds" type="checkbox" checked>-->
            <input type="submit" name="submit" value="Create Certificate" class="button" id="btn-create-cred">
        </form>

    </section>

</script>
<script>

	function loadPfx() {


		$("#fqdn").kendoComboBox({
			dataTextField: "name",
            dataValueField: "fqdn",
			filter: "contains",
			minLength: 1,
			dataSource: {
				serverFiltering: true,
				transport: {
					read: "/creds/filter"
				}
			}
		});

        $('#btn-create-cred').off('click').on('click', function (e) {

        	e.preventDefault();

			showLoader();

	        var form = $('#frm-create-cred'),
                url = form.attr('action'),
                method = form.attr('method'),
                formData = {
	        	    fqdn:$('#frm-create-cred  #fqdn').data('kendoComboBox').value(),
                    name:$('#frm-create-cred  #name').val(),
                    email:$('#frm-create-cred  #email').val(),
                    password:$('#frm-create-cred  #password').val()
	            };
            console.log('form data',formData);
	        $.ajax({
		        url: url,
		        cache: false,
                data:JSON.stringify(formData),
		        type: method,
		        datatype: "json",
		        contentType: "application/json; charset=utf-8"
		        , success: function(response) {

			        hideLoader();
			        console.log(response);
			        if (response.responseCode == 1) {

				        $("#pfx-info").removeClass('ad-error').addClass('ad-success');
				        var cb = $('#fqdn').data('kendoComboBox');
				        cb.dataSource.read();
			        }
			        else {
				        $("#pfx-info").removeClass('ad-success').addClass('ad-error');

			        }
			        $("#pfx-info").html(response.responseDesc);
		        }
	        });
		});

	}
</script>