

<script type="text/x-kendo-template" id="tmpl-create-pfx">


    <h4>Create Certificate</h4>
    <section id="token-form-container" style="margin-bottom: 50px;background-color:#fff ">
        <form id="frm-create-cred" action='/cred/create' method="post" class="form-main admin-form-main">
            <div id="pfx-info">&nbsp;</div>
            <input id="fqdn" name="fqdn" placeholder="Signing Credential" required style="width: 100%;"/>
            <input name="name" placeholder="Name" class="form-input"/>
            <input name="email" type="email" placeholder="Email" class="form-input"/>
            <input name="password" placeholder="Pfx Password (min 8 chars)" pattern=".{8,16}" class="form-input"/>
            <!--Save creds <input name="save_creds" type="checkbox" checked>-->
            <input type="button" name="submit" value="Create Certificate" class="button" id="btn-create-cred">
        </form>

    </section>

</script>
<!-- Scripts -->
<!-- build:admin-template -->
<script src="js/admin/create.cred.js"></script>
<!-- endbuild -->