<script type="text/x-kendo-template" id="tmpl-creds">
    <div class="row">
        <div class="medium-3 column">
            <h4>Creds tree</h4>
            <div id="creds-tree-container">
                <label>Exclude revoked:
                    <input type="checkbox" id="chk-exclude-revoke" onchange="rebindTree()"/>
                </label>
                <label>Find
                    <input type="text" id="inp-find-cred"/>
                    <input type="button" value="Search" class="k-button" onclick="findCreds()"/>
                </label>
                <a id="btn-refresh-tree"></a>
                <a id="btn-refresh-store">Refresh store</a>
                <div id="creds-tree"></div>
            </div>
        </div>
        <div class="medium-9 column" id="cred-detail" style="visibility: hidden;"></div>
    </div>
</script>

<script id="treeview-template" type="text/kendo-ui-template">
    # if (item.revoked) { #
    <div class="revoked" data-fqdn="#: item.fqdn#">
        # } else if (item.expired) { #
        <div class="red" data-fqdn="#: item.fqdn#">
            # } else { #
            <div data-fqdn="#: item.fqdn#">
                #}#
                <span title="#: item.isLocal ? 'Local' : 'Remote' #">(#: item.isLocal ? 'L' : 'R' #)</span><span
                    class="cred-name">#: item.name #</span>
            </div>

</script>

<!-- Scripts -->
<!-- build:admin-template -->
<script src="js/admin/cred.tree.js"></script>
<!-- endbuild -->

