<script type="text/x-kendo-template" id="tmpl-creds">
    <div class="row">
        <div class="medium-3 column">
            <div class="clearfix mb-2">
                <h5 class="text-black mb-0 d-inline-block">Creds Tree</h5>
                <a class="float-r btn-clear small text-gray-light" id="btn-refresh-store">Refresh store</a>
            </div>

            <div id="creds-tree-container">
                <div class="search-complex">
                    <a class="search-complex-addon" id="btn-refresh-tree"></a>
                    <input type="text" class="search-complex-input" id="inp-find-cred" placeholder="Search"/>
                    <input type="button" value="Find" class="k-button search-complex-btn" onclick="findCreds()"/>

                </div>
                <label class="d-block">
                    <input type="checkbox" id="chk-exclude-revoke"
                           onchange="rebindTree()"/>&nbsp;<small>Exclude revoked</small>
                </label>

                <div class="mt-2" id="creds-tree"></div>
            </div>

        </div>
        <div class="medium-9 column" id="cred-detail" style="visibility: hidden;"></div>
    </div>
</script>

<script id="treeview-template" type="text/kendo-ui-template">
    # if (item.revoked) { #
    <div class="revoked" data-fqdn="#: item.fqdn#">
        # } else if (item.expired) { #
        <div class="red" data-fqdn="#: item.fqdn#">
            # } else { #
            <div data-fqdn="#: item.fqdn#">
                #}#
                <span title="#: item.isLocal ? 'Local' : 'Remote' #">(#: item.isLocal ? 'L' : 'R' #)</span><span
                    class="cred-name">#: item.name #</span>
            </div>

</script>

<!-- Scripts -->
<!-- build:admin-template -->
<script src="js/admin/cred.tree.js"></script>
<!-- endbuild -->

