<style>
    .metrotable > thead > tr > th {
        padding: 2em 1em 0 0;
        text-transform: lowercase;
        text-align: left;
        font-size: 2em;
        font-weight: lighter;
        color: #bbb;
        border-bottom: 1px solid #ccc;
    }

    .metrotable > tbody > tr > td {
        padding: .5em 1em .5em 0;
        text-transform: lowercase;
        text-align: left;
        font-size: 1.2em;
        font-weight: lighter;
        color: #787878;
        border-bottom: 1px solid #e1e1e1;
    }

    .metrotable > tbody > tr > td {
        font-size: 12px;
    }

    .metrotable > thead > tr > th {
        font-size: 14px;
        padding-top: 0;
    }
</style>
<script src="lib/kendo-2016.3.1118.qr.min.js"></script>

<script  id="tmpl-cred-detail" type="text/x-kendo-template">
    <h4>Cred Details</h4>
    <section id="cred-form-container" style="margin-bottom: 50px">
        <form id="cred-detail-form" class="form-main admin-form-main">
            <div id="cred-info">&nbsp;</div>
            <label class="lbl-info">Fqdn: <span data-bind="text: data.fqdn"></span></label>
            <label class="lbl-info">Valid till: <span data-bind="text: data.validTill"></span></label>
            <label class="lbl-info">Revoked: <input type="checkbox" disabled data-bind="checked: data.revoked" /></label>
            <label class="lbl-info" data-bind="visible:data.parent_fqdn,attr:{title:data.parent_fqdn}">Parent: <span data-bind="text:parentName()"></span></label>
            <label class="lbl-info">Name: <span data-bind="text: data.name"></span></label>
            <label class="lbl-info">Email: <span data-bind="text: data.email"></span></label>
            <label class="lbl-info" data-bind="visible:data.pwd">Pfx Pwd: <span data-bind="text: data.pwd"></span></label>
            <a data-bind="attr: { href: data.pfx_path },visible:data.pfx_path" target="_blank">Download Pfx</a>
        </form>
        <p class="btn-row">
            <input type="button" name="btn-set-vpn" data-bind="disabled:commonButtonDisabled,click:opneVPN" value="Set VPN" class="k-button">
            <input type="button" name="btn-renew"  data-bind="disabled:renewButtonDisabled,click:renewCert" value="Renew" class="k-button">
            <input type="button" name="btn-revoke" data-bind="disabled:revokeDisabled,click:revokeCert" value="Revoke" class="k-button">
            <input type="button" disabled data-bind="visible:data.isLocal" name="btn-purge" value="Purge" class="k-button">
        </p>

        <p>
            <form id="ios-profile-form"   method="get"  style="margin: 15px 0" target="_blank" data-bind="visible:iosVpnProfileVisible">
                <div id="ios-profile-info">&nbsp;</div>
                <input type="submit" class="k-button" id="btn-ios-profile" value="Download IOS VPN  profile" />
                 <input type="button" name="btn-qr" data-bind="disabled:commonButtonDisabled,click: showIosProfileQr" value="Show Profile QR" class="k-button">
            </form>

        </p>

        <form id="send_pfx_form" action="/send/pfx" data-bind="visible:emailFormVisible" method="post" class="admin-form-main" style="margin: 15px 0">
            <h5>Send Pfx by email</h5>
            <div id="send_pfx_form_info">&nbsp;</div>
            <input name="email" required type="email" placeholder="Email" data-bind="disabled:commonButtonDisabled,value: data.email" class="form-input"/>
            <input name="fqdn" required type="hidden" data-bind="value: data.fqdn"/>
            <input type="submit" name="btn-email" data-bind="disabled:commonButtonDisabled" value="Send Pfx by Email" class="k-button">
            <input type="button" name="btn-qr" data-bind="disabled:commonButtonDisabled,click: showCredQr" value="Show QR" class="k-button">
        </form>

        <div data-bind="visible:data.actions.length">
            <h5>History</h5>
            <table class="metrotable">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody data-template="history-row-template" data-bind="source: data.actions"></tbody>
            </table>
        </div>

    </section>


</script>

<script id="vpn-detail" type="text/x-kendo-template" >
    <label class="lbl-info">Fqdn: <span data-bind="text:data.fqdn"></span></label>
    <form id="vpn_detail_form"  method="post" action="/cred/set-vpn/create" class="admin-form-main" style="width:400px">
        <div id="vpn_detail_form_info">&nbsp;</div>
        <input type="hidden" name="vpn_id" data-bind="value:vpnId">
        <input name="name" required type="text" placeholder="VPN ID" data-bind="value:name" class="form-input"/>
        <input name="fqdn" required type="hidden" data-bind="value: data.fqdn"/>
        <input type="submit" name="btn-set-vpn" value="Set VPN" class="button">
        <input type="button" name="btn-set-vpn" data-bind="enabled: vpnId,click:deleteVpn" value="Delete VPN" class="button">
    </form>

    <form id="vpn_delete_form"  method="post" action="/cred/set-vpn/delete">
        <input name="vpn_id" type="hidden" data-bind="value:vpnId">
        <input name="name"   type="hidden" data-bind="value:name"/>
        <input name="fqdn"   type="hidden" data-bind="value:data.fqdn"/>
    </form>


    <div id="wnd-overlay" class="overlay" style="max-height: 100% !important">
        <div>
            <h3>Processing Request</h3>
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
</script>

<script id="history-row-template" type="text/x-kendo-template">
    <tr>
        <td data-bind="text: action"></td>
        <td data-bind="text: email"></td>
        <td data-bind="text: name"></td>
        <td data-bind="text: dateStr"></td>
    </tr>
</script>

<div id="qr-window" style="display: none;text-align: center">
    <div id="download-qr" style="margin: auto;width: 300px"></div>
</div>

<div id="vpn-window" style="display: none;text-align: center"></div>

<script>
	var credDetailViewModel,vpnDetailViewModel, qrWnd = $("#qr-window"),vpnWnd = $('#vpn-window');

	function closeWnd(id) {

		var wnd = $(id);

		if (wnd.data("kendoWindow")) {
			wnd.data("kendoWindow").close();
		}
	}

	function sendEmail(){
		showLoader();

		var handleSendCredResponse = function (response) {
			hideLoader();

			if (response.responseCode == 1) {
				response.responseDesc = 'Email sent to ' + ( $('#send_pfx_form input[name="email"]').val());
				$("#send_pfx_form_info").removeClass('ad-error').addClass('ad-success');
				if (response.data && credDetailViewModel) {
					credDetailViewModel.set("data", response.data);
				}

			}
			else {
				$("#send_pfx_form_info").removeClass('ad-success').addClass('ad-error');

			}
			$("#send_pfx_form_info").html(response.responseDesc);
		};


		$(this).ajaxSubmit({
			error:   handleSendCredResponse,
			success: handleSendCredResponse
		});

		return false;
    }

    function setVpn(){
		showLoader('wnd-overlay');

		var handleSendCredResponse = function (response) {
			hideLoader('wnd-overlay');

			if (response.responseCode == 1) {
				response.responseDesc = 'Vpn settings saved';
				$("#vpn_detail_form_info").removeClass('ad-error').addClass('ad-success');
				if (response.data) {
					if(credDetailViewModel) {
						credDetailViewModel.set("data", response.data);
					}


					vpnDetailViewModel.set("data", response.data);
					vpnDetailViewModel.init();
				}
			}
			else {
				$("#vpn_detail_form_info").removeClass('ad-success').addClass('ad-error');

			}
			$("#vpn_detail_form_info").html(response.responseDesc);
		};


		$(this).ajaxSubmit({
			error:   handleSendCredResponse,
			success: handleSendCredResponse
		});

		return false;
    }

    function initVpnWindow(){
	    var template = kendo.template($("#vpn-detail").html());
    	vpnWnd.empty();
	    vpnWnd.kendoWindow({
		    width:   "450px",
		    height:  "400px",
		    title:   "Set VPN",
		    visible: false,
		    modal:true,
		    content:{
			    template:template
		    },
		    actions: [
			    "Close"
		    ],
		    open: function() {
			    vpnDetailViewModel.init();
			    kendo.bind($("#vpn-window"), vpnDetailViewModel);
			    $('#vpn_detail_form').submit(setVpn);
			    $('#vpn_delete_form').submit(setVpn);
		    }
	    });
    }

    function initQrWindow(url){
	    if (url) {
		    qrWnd.kendoWindow({
			    width:   "320px",
			    height:  "320px",
			    title:   "Scan QR",
			    visible: false,
			    modal:true,
			    actions: [
				    "Close"
			    ]
		    });

		    $('#download-qr').empty().kendoQRCode({
			    value:           url,
			    errorCorrection: "L",
			    color:           "#000",
			    background:      "transparent",
			    padding:         0,
			    size:            300
		    });
	    }
    }

	function loadCredDetail(data) {

		console.log('huy',data);

		window.getNotifManagerInstance().subscribe('MenuClicked',function(){
			closeWnd('#qr-window');
			closeWnd('#vpn-window');
        });

		credDetailViewModel = kendo.observable({
			init: function () {

				closeWnd('#qr-window');
				closeWnd('#vpn-window');

                initVpnWindow();

                this.set('revokeDisabled',this.data.hasChildren || this.data.revoked);
                this.set('commonButtonDisabled',this.data.revoked);
                this.set('renewButtonDisabled',this.data.revoked || !this.data.isLocal);
				this.set('emailFormVisible',!this.data.revoked && this.data.pwd);
				this.set('iosVpnProfileVisible',this.data.vpn_server_fqdn);

				$('#send_pfx_form').submit(sendEmail);

				$('#ios-profile-form').attr('action',this.iosProfileLink());
			},
			revokeDisabled:true,
            commonButtonDisabled:false,
            renewButtonDisabled:false,
			emailFormVisible : true,
            iosVpnProfileVisible:false,
			data: data,

			parentName: function () {
                return this.data.parent_name  ? `${this.data.parent_name} (${this.data.parent_fqdn})` : this.data.parent_fqdn
			},
			sendPfxUrl: function () {
				return '/send/pfx/' + this.data.fqdn
			},
			showCredQr:     function () {
                if(!this.data.download_cred_url){
                	alert('Cred download url not defined');
                	return;
                }
                this.operQrWnd(this.data.download_cred_url);
			},
            showIosProfileQr:     function () {
                if(!this.data.download_ios_profile_url){
                	alert('Ios Profile download url not defined');
                	return;
                }
                this.operQrWnd(this.data.download_ios_profile_url);
			},
            operQrWnd:function(url){
	            initQrWindow(url);
	            closeWnd('#vpn-window');
	            qrWnd.data("kendoWindow").center().open();
            },
			iosProfileLink: function() {
				return "/cred/ios-profile/" + this.data.fqdn;
			},
			opneVPN:function(){
				initVpnWindow();
				vpnWnd.data("kendoWindow").center().open();
            },
            renewCert:function () {

	            showLoader();
	            $.ajax({
		            url: '/cred/renew/' + this.data.fqdn,
		            cache: false,
		            type: "Post",
		            datatype: "json",
		            contentType: "application/json; charset=utf-8"
		            , success: function(response) {

			            hideLoader();

			            if (response.responseCode == 1) {
				            $("#cred-info").removeClass('ad-error').addClass('ad-success');
				            if (response.data && credDetailViewModel) {
					            credDetailViewModel.set("data", response.data);
				            }
			            }
			            else {
				            $("#cred-info").removeClass('ad-success').addClass('ad-error');

			            }
			            $("#cred-info").html(response.responseDesc);
		            }
	            });
            },
            revokeCert:function () {
                var $this = this;
	            showLoader();
	            $.ajax({
		            url: '/cred/revoke/' + this.data.fqdn,
		            cache: false,
		            type: "Post",
		            datatype: "json",
		            contentType: "application/json; charset=utf-8"
		            , success: function(response) {

			            hideLoader();

			            if (response.responseCode == 1) {
				            $("#cred-info").removeClass('ad-error').addClass('ad-success');
				            if (response.data && credDetailViewModel) {
					            credDetailViewModel.set("data", response.data);
					            credDetailViewModel.init();
				            }
				            console.log('revoke');
				            $('#creds-tree').find('div[data-fqdn="'+ $this.data.fqdn+'"]').addClass('revoked');
			            }
			            else {
				            $("#cred-info").removeClass('ad-success').addClass('ad-error');

			            }
			            $("#cred-info").html(response.responseDesc);
		            }
	            });
            }

		});

		credDetailViewModel.init();
		kendo.bind($("#cred-form-container"), credDetailViewModel);

		vpnDetailViewModel = kendo.observable({
            init:function(){
	            var vpns = this.data.vpn;
	            if(!vpns || !vpns.length) {
		            this.set('vpnId',null);
		            this.set('name',null);
	            	return;
                }

	            var vpn = vpns[0];

                this.set('vpnId',vpn.id);
                this.set('name',vpn.name);
            },
            vpnId :null,
            name:null,
            data:data,
			deleteVpn:function(){
				this.set('name',null);
				$('#vpn_delete_form').submit();
            }
        });

	}
</script>