<style>
    .k-textbox,.k-numerictextbox{
        width: 300px;
    }
</style>
<script type="text/x-kendo-template" id="home">

    <div class="row">

        <div class="large-8 large-centered columns">

            <h3 class="title-admin mb-half" >Service&nbsp;&nbsp;<span class="semi"
                                                                      data-bind="text: data.AppConfig.ServiceName"></span></h3>

            <!--<div class="d-inline-block pr-2">Service&nbsp;&nbsp;<span class="semi"-->
                                                                      <!--data-bind="text: data.AppConfig.ServiceName"></span>-->
            <!--</div>-->

            <div class="d-inline-block pr-2">Version&nbsp;&nbsp;<span class="semi"
                                                                      data-bind="text: data.Version"></span></div>

            <div class="d-inline-block">AppId&nbsp;&nbsp;<span class="semi"
                                                               data-bind="text: data.AppConfig.AppId"></span></div>

            <div id="config-tabstrip" style="display: none; margin-top:15px ;">
                <ul>
                    <li class="k-state-active">
                        Application
                    </li>
                    <li>
                        Roles
                    </li>
                    <li>
                        Proxy Settings
                    </li>
                    <li>
                        Provision Settings
                    </li>
                    <li>
                        Database
                    </li>
                </ul>
                <div>
                    <ul class="config-list">
                        <li class="mt-2">
                            <label>Service name</label>
                            <input class='k-textbox value-custom'
                                   data-bind="value: data.AppConfig.ServiceName"
                                   id="ServiceName"/>
                        </li>

                        <li>
                            <label>Registration method</label>
                            <!--<input data-role="dropdownlist"-->
                            <!--data-auto-bind="true"-->
                            <!--data-value-primitive="true"-->
                            <!--data-text-field="name"-->
                            <!--data-value-field="name"-->
                            <!--data-bind="value: data.AppConfig.RegistrationMethod, source: data.RegMethods"-->
                            <!--class='k-textbox'-->
                            <!--/>-->
                            <input data-role="dropdownlist" data-auto-bind="true" data-value-primitive="true"
                                   data-text-field="name" data-value-field="name"
                                   data-bind="value: data.AppConfig.RegistrationMethod, source: data.RegMethods"
                                   class="k-textbox value-custom">
                        </li>

                        <li>
                            <label>Environment Mode</label>
                            <input data-role="dropdownlist"
                                   data-auto-bind="true"
                                   data-value-primitive="true"
                                   data-text-field="name"
                                   data-value-field="name"
                                   data-bind="value: data.AppConfig.EnvMode, source: data.EnvModes"
                                   class='k-textbox value-custom'
                            />
                        </li>

                        <li>
                            <label>HTML Mode</label>
                            <input data-role="dropdownlist"
                                   data-auto-bind="true"
                                   data-value-primitive="true"
                                   data-text-field="name"
                                   data-value-field="name"
                                   data-bind="value: data.AppConfig.HtmlEnvMode, source: data.HtmlEnvModes"
                                   class='k-textbox value-custom'
                            />
                        </li>

                        <li>
                            <label>Custom login provider</label>
                            <input data-role="combobox"
                                   data-auto-bind="true"
                                   data-value-primitive="true"
                                   data-text-field="name"
                                   data-value-field="code"
                                   data-bind="value: data.AppConfig.CustomLoginProvider, source: data.CustomLoginProviders"
                                   class='k-textbox value-custom'
                            />
                        </li>

                        <li>
                            <label>Allow Public Registration</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.PublicRegistration"/>
                        </li>


                        <li>
                            <label>Use Image Authentication</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.RegistrationImageRequired"/>
                        </li>

                        <li>
                            <label>Encrypt User Data</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.EncryptUserData"/>
                        </li>

                        <li>
                            <label>Beame Auth server on local</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.UseBeameAuthOnLocal"/>
                        </li>

                        <li>
                            <label>Pairing Required</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.PairingRequired"/>
                        </li>

                        <li>
                            <label>Allow Direct Signin</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.AllowDirectSignin"/>
                        </li>

                        <li>
                            <label>Show Zendesk Support</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.ShowZendeskSupport"/>
                        </li>

                        <li>
                            <label>Disable Demo Servers</label>
                            <input type="checkbox" data-bind="checked:data.AppConfig.DisableDemoServers"/>
                        </li>

                        <li>
                            <label for="ExternalMatchingFqdn">External Matching Fqdn</label>
                            <textarea data-bind="value:data.AppConfig.ExternalMatchingFqdn"
                                      class='k-textbox value-custom'
                                      id="ExternalMatchingFqdn" cols="30" rows="1"></textarea>
                        </li>


                        <li>
                            <label>Email post url</label>
                            <textarea data-bind="value:data.AppConfig.PostEmailUrl" class='k-textbox value-custom'
                                      id="PostEmailUrl" cols="30" rows="1"></textarea>
                        </li>

                        <li>
                            <label>Email send cert url</label>
                            <textarea data-bind="value:data.AppConfig.EmailSendCertUrl" class='k-textbox value-custom'
                                      id="EmailSendCertUrl" cols="30" rows="1"></textarea>
                        </li>

                        <li>
                            <label>External login server URL</label>
                            <textarea data-bind="value:data.AppConfig.ExternalLoginServer"
                                      class='k-textbox value-custom'
                                      id="ExternalLoginServer" cols="30" rows="1"></textarea>
                        </li>

                        <li>
                            <label>External OCSP server fqdn</label>
                            <textarea data-bind="value:data.AppConfig.ExternalOcspServerFqdn"
                                      class='k-textbox value-custom'
                                      id="ExternalOcspServerFqdn" cols="30" rows="1"></textarea>
                        </li>

                        <li>
                            <label>OCSP cache period (days)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.OcspCachePeriod"
                                   id="OcspCachePeriod" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Customer Invitation Ttl (sec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.CustomerInvitationTtl"
                                   id="CustomerInvitationTtl" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Browser Session Ttl (sec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.BrowserSessionTtl"
                                   id="BrowserSessionTtl" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Proxy Initiating Ttl (sec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.ProxyInitiatingTtl"
                                   id="ProxyInitiatingTtl" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Proxy Session Ttl (sec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.ProxySessionTtl"
                                   id="ProxySessionTtl" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Registration Token Ttl (sec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.RegistrationAuthTokenTtl"
                                   id="RegistrationAuthTokenTtl" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>


                        <li>
                            <label>Session Record Delete Timeout (millisec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.SessionRecordDeleteTimeout"
                                   id="SessionRecordDeleteTimeout" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Whisperer Send PinInterval (millisec)</label>
                            <input class="value-custom pt-half" data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.WhispererSendPinInterval"
                                   id="WhispererSendPinInterval" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>&nbsp;</label>
                            <button id="save-app-config-btn" class="k-primary bold d-inline-block px-2 my-2"
                                    data-bind="events: { click: onSave }">Save
                            </button>
                        </li>

                    </ul>
                </div>
                <div>
                    <div data-role="grid"
                         data-editable="inline"
                         data-filterable="true"
                         data-sortable="true"
                         data-resizable= "true"
                         data-toolbar="['create']"
                         data-columns="[
                                 { 'field': 'id', 'width': 80 },
                                 { 'field': 'name' },
                                 { 'title':'', 'width':'120' ,'command':['edit','destroy'] }
                              ]"
                         data-bind="source: role_ds"
                         data-pageable="{
                            'numeric': true,
                            'pageSizes': true,
                            'refresh':true
                         }"

                         id="roles-grid">

                    </div>
                </div>
                <div>
                    <ul class="config-list">
                        <li class="mt-2">
                            <label for="ProxyBothHost">Host</label>
                            <input class="value-custom pt-half"
                                   data-bind="value:data.AppConfig.ProxySettings.host"
                                   id="ProxyBothHost" type="text"/>
                        </li>
                        <li class="mt-2">
                            <label for="ProxyBothPort">Port</label>
                            <input class="value-custom pt-half"
                                   style="width: 80px !important;"
                                   data-role="numerictextbox"
                                   data-bind="value:data.AppConfig.ProxySettings.port"
                                   id="ProxyBothPort" data-spinners="false" data-format="{0:D}"/>
                        </li>
                        <li class="mt-2">
                            <label for="ProxyExcludes">Excludes <i>(subdomains, comma-separated)</i></label>
                            <textarea class="value-custom pt-half"
                                      rows="3"
                                      cols="40"
                                   data-bind="value:data.AppConfig.ProxySettings.excludes"
                                   id="ProxyExcludes"></textarea>
                        </li>
                        <li class="mt-2">
                            <label>&nbsp;</label>
                            <button id="save-proxy-btn" class="k-primary bold d-inline-block px-2 my-2" data-bind="events: { click: onProxySave }" style="height: 22px">Save
                            </button>
                        </li>
                    </ul>
                    <label>*** if you change a settings, please restart server</label>
                </div>
                <div>
                    <style>
                        #prov-settings-grid  tbody tr {
                            cursor: move;
                        }
                    </style>
                    <label style="display: block">Drag rows to change appearance order</label>
                    <div data-role="grid"
                         data-editable="true"
                         data-filterable="true"
                         data-sortable="true"
                         data-resizable= "true"
                         data-toolbar="['save', 'cancel']"
                         data-columns="[
                                 { 'field': 'Order' , 'title':'Order', width:'60px'},
                                 { 'field': 'Label' , 'title':'Name'},
                                 { 'field': 'IsActive', 'title':'Active' },
                                 { 'field': 'Required' , 'title':'Required'}
                              ]"
                         data-bind="source: provision_ds"
                         data-pageable="{
                            'pageSizes': false,
                            'refresh':true
                         }"
                         id="prov-settings-grid">

                    </div>
                </div>
                <div>
                    <ul class="config-list">
                        <li class="mt-2">
                            <label>Provider</label>
                            <input data-role="dropdownlist" data-auto-bind="true" data-value-primitive="true"
                                   data-text-field="name" data-value-field="name"
                                   data-bind="value: data.DbConfig.provider, source: data.DbConfig.lov"
                                   class="k-textbox value-custom">
                            <label style="display: block">Supported providers: <i style="padding: 1px 0 0 5px" data-bind="text: data.DbConfig.supported"></i></label>
                        </li>
                        <li class="mt-2">
                            <label>Storage</label>
                            <span data-bind="text: data.DbConfig.storage"></span>
                        </li>
                        <li class="mt-2">
                            <label>&nbsp;</label>
                            <button id="save-db-config-btn" class="k-primary bold d-inline-block px-2 my-2" data-bind="events: { click: onDbSave }" style="height: 22px">Save
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</script>

<!-- Scripts -->
<!-- build:admin-template -->
<script src="js/admin/dash.js"></script>
<!-- endbuild -->