<script type="text/x-kendo-template" id="home">

    <div style="padding: 10px">
        <h4>Service: <span data-bind="text: data.AppConfig.ServiceName"></span></h4>

        <h5>AppId: <span data-bind="text: data.AppConfig.AppId"></span></h5>

        <ul id="panelbar" style="width: 600px;display: none;">
            <li>
                Creds
                <div style="padding: 7px">
                    <ul class="config-list">
                        <li>
                            <label>Zero Level</label>
                            <span data-bind="text:data.Creds.ZeroLevel.fqdn"></span>
                        </li>

                        <li>
                            <label>Gateway Server</label>
                            <span data-bind="text:data.Creds.GatewayServer.fqdn"></span>
                        </li>

                        <!--<li>-->
                            <!--<label>Admin Server</label>-->
                            <!--<span data-bind="text:data.Creds.AdminServer.fqdn"></span>-->
                        <!--</li>-->

                        <li>
                            <label>Beame Authorization Server</label>
                            <span data-bind="text:data.Creds.BeameAuthorizationServer.fqdn"></span>
                        </li>

                        <li>
                            <label>Matching Server</label>
                            <span data-bind="text:data.Creds.MatchingServer.fqdn"></span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                AppConfig

                <div style="padding: 7px">
                    <ul class="config-list">
                        <li>
                            <label>Service name</label>
                            <input type="text" class='k-textbox' data-bind="value: data.AppConfig.ServiceName"
                                   id="ServiceName"/>
                        </li>


                        <li>
                            <label>Browser Session Ttl (sec)</label>
                            <input data-role="numerictextbox" data-bind="value:data.AppConfig.BrowserSessionTtl"
                                   id="BrowserSessionTtl" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Proxy Initiating Ttl (sec)</label>
                            <input data-role="numerictextbox" data-bind="value:data.AppConfig.ProxyInitiatingTtl"
                                   id="ProxyInitiatingTtl" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Proxy Session Ttl (sec)</label>
                            <input data-role="numerictextbox" data-bind="value:data.AppConfig.ProxySessionTtl"
                                   id="ProxySessionTtl" type="text" data-spinners="false" data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Registration Token Ttl (sec)</label>
                            <input data-role="numerictextbox" data-bind="value:data.AppConfig.RegistrationAuthTokenTtl"
                                   id="RegistrationAuthTokenTtl" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>


                        <li>
                            <label>Session Record Delete Timeout (millisec)</label>
                            <input data-role="numerictextbox" data-bind="value:data.AppConfig.SessionRecordDeleteTimeout"
                                   id="SessionRecordDeleteTimeout" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>

                        <li>
                            <label>Whisperer Send PinInterval (millisec)</label>
                            <input data-role="numerictextbox" data-bind="value:data.AppConfig.WhispererSendPinInterval"
                                   id="WhispererSendPinInterval" type="text" data-spinners="false"
                                   data-format="{0:D}"/>
                        </li>

                    </ul>

                    <div style="position: absolute;bottom: 10px;right: 10px;">
                        <button id="save-app-config-btn" class="k-primary" style="width: 100px" data-bind="events: { click: onSave }">Save</button>
                    </div>


                </div>
            </li>
            <li>
                Db Config
                <div style="padding: 7px">
                    <ul class="config-list">
                        <li>
                            <label>Storage</label>
                            <span data-bind="text: data.DbConfig.storage"></span>
                        </li>


                        <li>
                            <label>Username</label>
                            <span data-bind="text: data.DbConfig.username"></span>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>

    </div>

</script>

<script>

	function loadSettings(){

		var loadDash =  function(){

			viewDash  = new kendo.View("home",{
				model: new kendo.observable({
					data: settings,
					onSave:function(){

						$.ajax({
							type: "POST",
							url: '/settings/save',
							data: {data: JSON.stringify(this.data)},
							success: function(result){
								alert(result.success ? 'Settings saved' : result.error);
							},
							dataType: 'json'
						});


					}
				})
			});
			layout.showIn("#content", viewDash);
			$("#panelbar").kendoPanelBar({
				expandMode: "single"
			});

			setTimeout(function () {
				$("#panelbar").show();
			},50);

			$('#save-app-config-btn').kendoButton();
		};

		if(settings){
			loadDash();
		}
		else {
			$.getJSON('/settings/get',function(data){
				console.log('Settings data %j', data);
				settings = data;
				loadDash();
			})
		}
	}
</script>