<script type="text/x-kendo-template" id="inv">

    <ul id="inv-panelbar" style="width: 90%;">
        <li>
            <h4>Upload Invitations CSV</h4>
            <section id="inv-upload-form-container" style="margin-bottom: 50px">
                <div id="upload-info">&nbsp;</div>
                <form id="upload-form" action="/invitation/upload" method="post" enctype="multipart/form-data"
                      class="form-main admin-form-main">
                    <div>
                        <input type="file" name="csvdata" accept="text/csv" >
                    </div>
                    <div>
                        <input type="submit" value="Upload" class="button" onclick="onUploadStart()" />
                    </div>
                </form>
            </section>
        </li>
    </ul>

    <h4>Invitations Report</h4>
    <div id="inv-grid"></div>
</script>
<!-- Scripts -->
<!-- build:admin-template -->
<script src="js/admin/invitation.manage.js"></script>
<!-- endbuild -->