<script type="text/x-kendo-template" id="reg-token">


    <h4>Create Registration token</h4>
    <section id="token-form-container" style="margin-bottom: 50px">
        <form id="frm-create-regtoken" action='/regtoken/create' method="post" class="form-main admin-form-main">
            <div id="token-info">&nbsp;</div>
            <input id="fqdn" name="fqdn" placeholder="Signing Credential" required style="width: 100%;"/>
            <input name="name" placeholder="Name" class="form-input"/>
            <input name="email" type="email" placeholder="Email" class="form-input"/>
            <input name="user_id" placeholder="External user ID" class="form-input"/>
            <input name="ttl" placeholder="Token TTL in seconds" class="form-input"/>
            <!--
            <input name="session_pin" placeholder="4 digits registration code from mobile" class="form-input"/>
            -->
            <input type="button" name="submit" value="Create Registration Token" class="k-primary" id="btn-create-regtoken">
        </form>

        <div id="reg-token-container" style="display:none;" class="form-main admin-form-main">
            <input id="copy-btn" type="submit" name="submit" value="Copy to clipboard" class="button"
                   data-clipboard-action="copy" data-clipboard-target="#reg_token"/>
            <textarea id="reg_token" name="reg_token" style="width: 80%;margin: 0 10%;" rows="10"></textarea>
        </div>

    </section>

</script>
<!-- Scripts -->
<!-- build:admin-template -->
<script src="js/admin/registration.token.js"></script>
<!-- endbuild -->