/* VARIABLES
============================================================== */

$blue: #0099ff;
$green: #33cd5f;
$yellow: #ffc900;
$red: #ef473a;
$white: #fff;
$black: #000;
$grey: #555;
$grey-light: #ccc;
$grey-dark: #333;

$text-size: 1rem;
$family-global: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$layout-width: 100%;

$auto-margin: 0 auto;

$radius: 4px;

$l-height: 1.4;

$line-grey-light: 1px solid $grey-light;
$line-blue: 1px solid lighten($blue, 35%);
