<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>IKEv2</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>Certificate</string>
				<key>ChildSecurityAssociationParameters</key>
				<dict>
					<key>DiffieHellmanGroup</key>
					<integer>14</integer>
					<key>EncryptionAlgorithm</key>
					<string>AES-128</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA1-96</string>
					<key>LifeTimeInMinutes</key>
					<integer>1440</integer>
				</dict>
				<key>DeadPeerDetectionRate</key>
				<string>Low</string>
				<key>DisableMOBIKE</key>
				<integer>0</integer>
				<key>DisableRedirect</key>
				<integer>0</integer>
				<key>EnableCertificateRevocationCheck</key>
				<integer>0</integer>
				<key>EnablePFS</key>
				<integer>0</integer>
				<key>IKESecurityAssociationParameters</key>
				<dict>
					<key>DiffieHellmanGroup</key>
					<integer>14</integer>
					<key>EncryptionAlgorithm</key>
					<string>AES-128</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA1-96</string>
					<key>LifeTimeInMinutes</key>
					<integer>1440</integer>
				</dict>
				<key>LocalIdentifier</key>
				<string>@vpn_client_fqdn@</string>
				<key>PayloadCertificateUUID</key>
				<string>@uuid_payloadvpn_client_pkcs12@</string>
				<key>RemoteAddress</key>
				<string>@vpn_server_fqdn@</string>
				<key>RemoteIdentifier</key>
				<string>@vpn_server_fqdn@</string>
				<key>ServerCertificateCommonName</key>
				<string>@vpn_server_fqdn@</string>
				<key>UseConfigurationAttributeInternalIPSubnet</key>
				<integer>1</integer>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>OverridePrimary</key>
				<integer>1</integer>
			</dict>
			<key>PayloadDescription</key>
			<string>Configures VPN settings</string>
			<key>PayloadDisplayName</key>
			<string>VPN</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.vpn.managed.@uuid_payload_vpnconfig@</string>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadUUID</key>
			<string>@uuid_payload_vpnconfig@</string>
			<key>PayloadVersion</key>
			<real>1</real>
			<key>Proxies</key>
			<dict>
				<key>HTTPEnable</key>
				<integer>0</integer>
				<key>HTTPSEnable</key>
				<integer>0</integer>
			</dict>
			<key>UserDefinedName</key>
			<string>@vpn_server_fqdn@</string>
			<key>VPNType</key>
			<string>IKEv2</string>
		</dict>
		<dict>
			<key>Password</key>
			<string>@vpn_client_pkcs12_pwd@</string>
			<key>PayloadCertificateFileName</key>
			<string>@vpn_client_pkcs12_name@</string>
			<key>PayloadContent</key>
			<data>@vpn_client_pkcs12_base64@</data>
			<key>PayloadDescription</key>
			<string>Adds a PKCS#12-formatted certificate</string>
			<key>PayloadDisplayName</key>
			<string>@vpn_client_pkcs12_name@</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.pkcs12.@uuid_payloadvpn_client_pkcs12@</string>
			<key>PayloadType</key>
			<string>com.apple.security.pkcs12</string>
			<key>PayloadUUID</key>
			<string>@uuid_payloadvpn_client_pkcs12@</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>Mobile device VPN package</string>
	<key>PayloadDisplayName</key>
	<string>@vpn_server_fqdn@</string>
	<key>PayloadIdentifier</key>
	<string>@uuid_vpn_server@</string>
	<key>PayloadOrganization</key>
	<string>@vpn_server_fqdn@</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>@uuid_payload_uuid@</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
